
<div id="todos">
    <div  class="col-xs-6 col-sm-6 col-md-3 col-lg-3" ng-repeat="(key, value) in products">

        <!-- PRICE ITEM -->
        <div class="panel price panel-red">
            <div class="panel-heading  text-center">
                <h3>Nombre del producto:</h3>
            </div>
            <div class="panel-body text-center">
                <p class="lead" style="font-size:40px"><strong>{{value.name}}</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item"><i class=" text-danger"></i> Descripcion:</li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i> {{value.description}}</li>
            </ul>
            <div class="panel-footer">
                <a class="btn btn-lg btn-block btn-danger"  ng-click="producto(value.id)">Cambiar</a>
            </div>
        </div>
        <!-- /PRICE ITEM -->


    </div>

</div>
<!--  -->
<!--  -->
<div id="seleccionado">
    <h1>Producto Seleccionado</h1>
    <div  class="col-md-6">

        <!-- PRICE ITEM -->
        <div class="panel price panel-red">
            <div class="panel-heading  text-center">
                <h3>Nombre del producto:</h3>
            </div>
            <div class="panel-body text-center">
                <p class="lead" style="font-size:40px"><strong>{{producto.name}}</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item"><i class=" text-danger"></i> Descripcion del producto:</li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i> {{producto.description}}</li>
            </ul>

        </div>
    </div>



    <div class="col-md-12">
        <h1>Selecciona tu producto</h1>
        <div  class="col-md-3" ng-repeat="(key, value) in productos">

            <!-- PRICE ITEM -->
            <div class="panel price panel-red">
                <div class="panel-heading  text-center">
                    <h3>Nombre del producto:</h3>
                </div>
                <div class="panel-body text-center">
                    <p class="lead" style="font-size:40px"><strong>{{value.name}}</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class=" text-danger"></i>Descripcion del producto:</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i> {{value.description}}</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-danger"   ng-click="crearintercambio(value.id, producto.id)">Seleccionar</a>
                </div>
            </div>
        </div>
    </div>

</div>
