

<div class="col-md-12 text-center">
<div class="col-md-4">

</div>
<form class="col-md-4" ng-submit="login()">
    <h1>Inicio de session</h1>
    <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="Nombre de Usuario" required="required" ng-model="user.username">
    </div>
    <div class="form-group">
        <input type="password" class="form-control input-lg" placeholder="Contraseña" required="required" ng-model="user.password">
    </div>

    <div class="form-group">
        <button class="btn btn-danger btn-lg btn-block">Entrar</button>
        <span class="pull-right"><a href="#/register">Registar Usuario</a></span>
    </div>
</form>
</div>
