<div id="todos">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Intercambios Pendientes
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="(key, value) in pendientes">
        <a ng-click="pasardatos(value.product_req_id,value.product_offered_id, value.id)">ver Intercambioo {{key+1}}</a></li>

        </ul>
      </div>
</div>
<div id="atras">
    <button ng-click="atras()" type="button" class="btn btn-success" name="button"><span>Atras</span></button>
</div>
