




<div class="col-md-12 text-center">
<div class="col-md-4">

</div>
<form class="col-md-4" ng-submit="new()">
    <h1>Crear Usuarios Nuevos</h1>
    <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="Nombre de Usuario" required="required" ng-model="user.username">
    </div>
    <div class="form-group">
        <input type="password" class="form-control input-lg" placeholder="Contraseña" required="required" ng-model="user.password">
    </div>
    <div class="form-group">
        <input type="password" class="form-control input-lg" placeholder="Repetir Contraseña" required="required" ng-model="user.password_confirmation">
    </div>

    <div class="form-group">
        <button class="btn btn-danger btn-lg btn-block">Registar Usuario</button>
        <span class="pull-right"><a href="#/login">Iniciar Session</a></span>
    </div>
</form>
</div>
